.button-add-task {
  background-color: #f6ff00;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.containar-button {
  margin-left: 10px;
}

.button-add-task:hover {
  background-color: #444;
  color: #f6ff00;
}
