.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
  cursor: pointer;
}

.task-tarefa {
  cursor: pointer;
}

.button-x {
  background-color: #444;
  border: none;
  font-size: 24px;
  color: #f6ff00;
  cursor: pointer;
  margin: 0 10px;
}

.button-x:hover {
  color: #f6ff0080;
}

.buttons-container {
  display: flex;
}
